.myform{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    margin: 20px;
}

input[type=text]{
    display: block;
}

input[type=email]{
    display: block;
}

input[type=submit]{
    margin-top: 15px;
}

select{
    margin-right: 5px;
    width: 12%;
    display: block;
}


input[type=password]{
    display: block;
}

